<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sys.mapper.UserMapper">
    <resultMap id="userMap" type="com.example.sys.entity.User">
        <id property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <collection property="roles" ofType="com.example.sys.entity.Role">
            <id property="roleId" column="role_id"/>
            <result property="roleName" column="role_name"/>
            <collection property="permissions" ofType="com.example.sys.entity.Permission">
                <id property="permissionId" column="permission_id"/>
                <result property="permissionName" column="permission_name"/>
            </collection>
        </collection>
    </resultMap>

    <select id="findByUsername" parameterType="string" resultMap="userMap">
           SELECT *
           FROM sys_user u,sys_role r,sys_permission p
           WHERE u.role_id=r.role_id
           AND p.role_id=r.role_id
           AND u.username=#{username}
    </select>

</mapper>